<div class="row">
  <div class="large-6 large-centered small-12 small-centered columns">
    <div id="login" class="form" >
      <div class="form_name center">
        Login to SMAC Angels!
      </div>

      <div class="clear"></div>
    
      <div class="form_main">
        <%= form_tag sessions_path do %>
          <div id="primary_email" class="field">
            <%= text_field_tag(:email, params[:email], placeholder: "Email") %>
          </div>
          <div class="field">
            <%= password_field_tag(:password, nil, placeholder: "Password") %>
          </div>
              
          <div class="checkbox">
            <%= check_box_tag(:remember_me, "1", params[:remember_me]) %>
            <%= label_tag(:remember_me, "Remember me.") %>
          </div>
          
          <div class="form-actions center-text content-small-padding">
            <%= submit_tag "Log In", :class => 'ctr_button' %>
          </div>
        <% end %>
        
        <div class="form_name2 forgot center">
          Forgot Password?
        </div>

        <div class="forgot_pass_container">
          <%= render 'forgot_password_form' %>
        </div>

      </div>

    </div>

    <div class="no_account">
      <div class="form_name2 no_link center">
        No Account?
      </div>

      <div class="form-actions center-text content-small-padding">
        <%= link_to 'Sign Up', :new_user, :class => 'ctr_button' %>
      </div>
    </div>

  </div>
</div>

<div class="push"></div>
