<%= form_for @sockmonkey do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :image_url, "Image" %>
    <%= f.text_field :image_url, :class => 'file_field', :disabled => true %>
    <%= f.file_field :image_url, :class => 'file_field' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'text_area' %>
  </div>
  <div class="field">
    <%= f.label :cancertype, "Cancer Type" %>
    <%= f.text_field :cancertype, :class => 'text_field' %>
  </div>
  <div class="field">
    <%= f.label :favcolor, "Favorite Color" %>
    <%= f.text_field :favcolor, :class => 'text_field' %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sockmonkeys_path, :class => 'btn' %>
  </div>
<% end %>
