<%- model_class = Sockmonkey -%>

<div class="row center-text blue">
  <h1>Monkey Maintenance</h1>
  
  <%= render :partial => 'admin/adminnav' %>
</div>
  
<table class="table table-striped center">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>Type</th>
    <th>Fav Color</th>
    <th>Last Update</th>
    <th></th>
  </thead>
  <tbody>
    <% @sockmonkeys.each do |monkey| %>
      <tr>
        <td class="content-right-padding"><h1><%= link_to monkey.id, monkey %></h1></th>
        <td class="content-right-padding"><%= link_to monkey.name, monkey %></th>
        <td class="content-right-padding"><%= File.basename(monkey.image_url.to_s) %></th>
        <td class="content-right-padding"><%= monkey.description[0..30] %>...</th>
        <td class="content-right-padding"><%= monkey.cancertype %></th>
        <td class="content-right-padding"><%= monkey.favcolor %></th>
        <td class="content-right-padding"><%= monkey.updated_at.strftime("%b %d, %Y") %></th>
        <td class="content-right-padding">
          <b>
            <%= link_to('Edit', edit_sockmonkey_path(monkey), :class => 'btn btn-mini') %>
          </b>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row center-text blue new">
  <%= link_to "New Monkey", new_sockmonkey_path,
              :class => "submit-button" %>
</div>


