%p#notice= notice

%p
  %b Name:
  = @sockmonkey.name
%p
  %b Image url:
  = @sockmonkey.image_url
%p
  %b Description:
  = @sockmonkey.description
%p
  %b Cancertype:
  = @sockmonkey.cancertype
%p
  %b Favcolor:
  = @sockmonkey.favcolor

= link_to 'Edit', edit_sockmonkey_path(@sockmonkey)
\|
= link_to 'Back', sockmonkeys_path
