<style type="text/css">
body {
  background-color: #3299BB;
  color: #424242;
}
img {
  border: 2px solid #fff;
}
h1 {
  margin-top: 0px;
  color: #fff;
}

h3 {
  color: #fff;
}
p {
  font-weight: bold;
}
.monkey {
  width: 485px;
  margin: 50px auto 0 auto;
}
.monkey_pic {
  float: left;
  margin: 0 0 0 20px;
}
.monkey_info {
  float: right;
  width: 200px;
  padding: 0 0 0 30px;
}
</style>

<div class="monkey">

  <div class="monkey_pic">
    <%= image_tag @sockmonkey.image_url %>
    <h3>Cancer Type</h3>
    <p><%= @sockmonkey.cancertype %></p>
    <h3>Favorite Color</h3>
    <p><%= @sockmonkey.favcolor %></p>  
  </div>

  <div class="monkey_info">
    <h1>I'm <%= @sockmonkey.name %></h1>
    <p><%= @sockmonkey.description %></p>
  </div>

</div>