<style type="text/css">
h1 {
  margin-top: 0px;
}

h2 {
  color: #3299BB;
}
.monkey {
  width: 550px;
  margin: 100px auto 0 auto;
}
.monkey_pic {
  float: left;
}
.monkey_info {
  float: right;
  padding: 0 0 0 100px;
}
</style>

<div class="monkey">

  <div class="monkey_pic">
    <%= image_tag @sockmonkey.image_url %>
  </div>

  <div class="monkey_info">
    <h1>I'm <%= @sockmonkey.name %></h1>
    <p><%= @sockmonkey.description %></p>
    <h2>Cancer Type</h2>
    <%= @sockmonkey.cancertype %>
    <h2>Favorite Color</h2>
    <%= @sockmonkey.favcolor %>
  </div>

</div>