<style type="text/css">
body {
  background-color: #3299BB;
  color: #424242;
}
img {
  border: 4px solid #fff;
  margin-top: 10px;
}
h1 {
  margin: 0 0 5px 0;
  color: #fff;
}

h3 {
  color: #fff;
}
p {
  font-weight: bold;
  margin: 0;
  text-align: justify;
}
.monkey {
  width: 550px;
  margin: 40px auto 0 auto;
}
.monkey_pic {
  float: left;
  margin: 0 0 0 20px;
}
.monkey_info {
  float: right;
  width: 225px;
  line-height: 1.75;
  padding: 0 0 0 30px;
}
.monkey_stats {
  clear: both;
  width: 75%;
  margin: 0 auto;
}
.stat {
  float: left;
  text-align: center;
  padding: 0 45px;
}
.stat p {
  text-align: center;
}
</style>

<div class="monkey">

  <div class="monkey_pic">
    <%= image_tag @sockmonkey.image_url %> 
  </div>

  <div class="monkey_info">
    <h1>I'm <%= @sockmonkey.name %></h1>
    <p><%= @sockmonkey.description %></p>
  </div>

  <div class="monkey_stats">
    <div class="stat">
      <h3>Cancer Type</h3>
      <p><%= @sockmonkey.cancertype %></p>
    </div>
    <div class="stat">
      <h3>Favorite Color</h3>
      <p><%= @sockmonkey.favcolor %></p>
    </div>
  </div>

</div>