<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @status.request_id %>
</p>

<p>
  <b>Status:</b>
  <%= @status.status %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
