<h1>Listing templates</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @templates.each do |template| %>
    <tr>
      <td>
        <%= template.name %>
      </td>
      <td>
        <%= template.content %>
      </td>
      <td>
        <%= link_to 'Show', template %>
      </td>
      <td>
        <%= link_to 'Edit', edit_template_path(template) %>
      </td>
      <td>
        <%= link_to 'Destroy', template, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Template', new_template_path %>
