<div class="row center-text blue">
  <h1>Email Templates</h1>
  
  <%= render :partial => 'admin/adminnav' %>
</div>
  
<table class="table table-striped center">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Content</th>
    <th>Last Update</th>
    <th></th>
  </thead>
  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td class="content-right-padding"><h1><%= link_to template.id, edit_template_path(template) %> </h1></td>
        <td class="content-right-padding"><b><%= link_to template.name, edit_template_path(template) %></b></td>
        <td class="content-right-padding"><%= template.content[0..50] %>...</td>
        <td class="content-right-padding"><%= template.updated_at.strftime("%b %d, %Y") %></td>
        <td class="content-right-padding">
          <b>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_template_path(template), :class => 'btn btn-mini' %>
          </td>
        </b>
      </tr>
    <% end %>
  </tbody>
</table>