<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Name:</b>
  <%= @template.name %>
</p>
<p>
  <b>Content:</b>
  <%= @template.content %>
</p>
<%= link_to 'Edit', edit_template_path(@template) %>
\|
<%= link_to 'Back', templates_path %>
