<div class="row">
  <div class"large-12 columns">
    <div id="signup" class="form" >
      <div class="form_name center">
        Sign up for SMAC Angels!
      </div>

    <div class="clear"></div>
  
    <div class="form_main">
      <%= form_for @user do%>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= raw negative_captcha(@captcha) %>
        <div class="field">
          <%= negative_text_field_tag(@captcha, :email, placeholder: "Email") %>
        </div>
        <div class="field">
          <%= negative_text_field_tag(@captcha, :fname, placeholder: "First Name") %>
        </div>
        <div class="field">
          <%= negative_text_field_tag(@captcha, :lname, placeholder: "Last Name") %>
        </div>
        <div class="field">
          <%= negative_text_field_tag(@captcha, :password, placeholder: "Password") %>
        </div>
        <div class="field">
          <%= negative_text_field_tag(@captcha, :password_confirmation, placeholder: "Confirm") %>
        </div>
  
        <div id="actions">
          <%= submit_tag "Sign Up", :class => 'ctr_button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="push"></div>
