<div id="controller_users" class="user-show-banner">
  <div class="row">
    <!-- placeholder for @request.requestor.fname -->
    <div class="large-4 large-centered small-6 small-centered columns">
      <div class="avatar-banner">

         <%= image_tag('avatar.png') %>

      </div>
    </div>
  </div>
  
  <div class="row">  
    <span class="large-2 large-centered columns">
      <div class="center-banner">
      <div class="name-banner">
        <%= @user.fname %> <%= @user.lname %>
      </div>

      <div class="separator-banner large-9 large-centered small-centered columns"></div>
        
      <div class="tagline-banner">
        <%= @user.email %>
      </div>
      </div>
    </span>
   </div> 
   
  <% if current_user %>
    <div class="form-actions center-text content-small-padding">
      <%= link_to 'Edit', edit_user_path(@user), :class => "button-link" %>
      <%#= link_to 'Deactivate', user_path(@user), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "button-link btn-danger" %>
    </div>
  <% end %>
     
 </div>

<div class="row">
  <div class="large-5 small-12 content-padding center-text columns">
    <% if @requests %>

      <h2><%= @user.fname %> is requesting:</h2>

      <% @requests.each do |request| %>
        <div><% if request.before_photo_url.url == nil %>
          <%= image_tag("profile.png") %>
        <% else %>
          <%= image_tag(request.before_photo_url_url(:thumb)) %>
        <% end %>
        </div>
        
        <% if request.obo %>
          <div><p>This request was made by <b><%= request.obo_fname %> <%= request.obo_lname %></b> on behalf of <b><%= @user.fname %></b></p></div>
        <% else %>
          <div>This request was made by <b><%= @user.fname %></b> </div>
        <% end %>

        <div class="content-small-padding"></div>
        <div><%= image_tag(request.sockmonkey.image_url_url(:thumb), :class => "user-avatar") %></div>
        <div class="storytime content-small-padding"><%= request.sockmonkey.name %></div>

        <div class="row content-small-padding">
          <%= link_to "View Request", request_path(request.id), :class => "button-link-blue" %>
        </div>
      <% end %>

    <% end %>
  </div>



  <div class="large-6 small-12 content-padding center-text columns">
    <h2><%= @user.fname %> is an Angel for:</h2>

    <% if @angels %>

      <% @angels.each do |angel| %> 
        
        <div class="row small-centered content-small-padding ">
          
          <!-- <div class="large-5 small-3 columns">TEST</div> -->
          
          <div class="large-3 large-offset-2 small-offset-2 small-3 columns">
            <div ><%= image_tag(angel.sockmonkey.image_url_url(:thumb), :class => "user-avatar-angel")%></div>
            <div class="storytime content-small-padding"><%= angel.sockmonkey.name %></div>
          </div>
          
          <div class="large-1 small-1 columns fa-angle-double-right">
          </div>
          
          <div class="large-3 small-3 columns">
            <% if angel.before_photo_url %>
              <%= image_tag(angel.before_photo_url_url(:thumb), :class => "user-avatar-angel") %>
            <% else %>
              <%= image_tag("profile.png", :class => "user-avatar-angel") %>
            <% end %>
            
            <% if angel.obo %>
              <div class="storytime content-small-padding"><%= angel.obo_fname %></div>
            <% else %>
              <div class="storytime content-small-padding"><%= angel.requestor.fname %></div>
            <% end %>
          </div>
          
          <div class="row">
            <div class="small-12 content-small-padding columns">
              <div class="row content-small-padding">
                <%= link_to "View Request", request_path(angel.id), :class => "button-link-blue" %>
              </div>
            </div>
          </div>
            
        </div>
      <% end %>

    <% end %>
  </div>
</div>
