<% content_for :banner do %>
  <div class="name-banner">
  </div>
<% end %>

<%- model_class = User -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<h2><%= @user.fname %> <%= @user.lname %></h2>
<%= @user.email %>

<% if @requests %>
  <h3>Requests for a monkey:</h3>

  <% @requests.each do |request| %>
    <div><% if request.before_photo_url %>
      <%= image_tag(request.before_photo_url) %>
    <% else %>
      <%= image_tag("profile.png").html_safe %>
    <% end %>
    </div>

    <% if request.obo %>
      <div><%= request.obo_fname %> <%= request.obo_lname %></div>
    <% else %>
      <div>Me</div>
    <% end %>

    <div><%= image_tag(request.sockmonkey.image_url) %></div>
    <div><%= request.sockmonkey.name%></div>
    <div><%= request.current_status %></div>
    <%= link_to "View Request", request_path(request.id) %>
  <% end %>

<% end %>

<h3>I'm an Angel for:</h3>

<% if @angels %>

  <% @angels.each do |angel| %> 
    <div><% if angel.before_photo_url %>
      <%= image_tag(@request.before_photo_url) %>
    <% else %>
      <%= image_tag("profile.png") %>
    <% end %></div>

    <% if angel.obo %>
      <div><%= angel.obo_name %></div>
    <% else %>
      <div><%= angel.requestor.fname %> <%= angel.requestor.lname %></div>
    <% end %>

    <div><%= image_tag(angel.sockmonkey.image_url)%></div>
    <div><%= angel.sockmonkey.name %></div>
    <div><%= angel.current_status %></div>
    <%= link_to "View Request", request_path(angel.id) %>
  <% end %>

<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
