<body>
  
<section>
   
  <nav>
    <div class="logo_bott">
      <!-- <%= link_to :root do %> -->
        <%= image_tag "/assets/SMAC_logo.png" %>
      <!-- <% end %> -->
    </div>
      
    <ul> 
      <li><%= link_to "Home", root_path %></li> 
      <li><%= link_to "Give", requests_path %></li>  
      <li><%= link_to "Nominate", new_request_path %></li>
      <li><%= link_to "Request", new_request_path %></li>
      <% if !current_user %>
      <li><%= link_to "Sign Up", signup_path %></li> 
      <% else %> 
      <% end %>
      <% if current_user %>
        <li><%= link_to "Me", user_path(current_user.id) %></li>
        <li><%= link_to "Log Out", logout_path %></li>  
      <% else %>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>  
    <a href="#" id="pull">Menu</a>  
  </nav>
  
  <div id="controller_home">
    <div class="row">
      <div class"large-12 columns">
        <div id="hp_logo">
         <!-- <img src="assets/sockmonkey2.png" alt="" /> -->
        </div>
      </div>
  
      <div class="name center">
        SMAC! Angels
      </div>

      <div class="separator"></div>

      <div class="tagline center">
        True "creature comforts" for those with cancer
      </div>
      
      <!-- Hidden until breakpoint -->
      <div id="resp_monkey">
        <%= image_tag "sockmonkey2.png" %>
      <div>
      
    </div>
  </div>

</section>

<section>  
    
    <div class="row full-width"></div>
      <div class="gallery">
        <ul>
          <li class="large-4 columns small-12 columns">
            <!-- <div id="idx_square_placeholder">
              <%= link_to image_tag("Request_Monkey.png"), new_request_path %>
            </div> -->
                   
              <!-- Works, but put link into it's own div container set as absolute. then can move icon independently. -->
              <div class="add_to_gallery">
                <img src="assets/Request_Monkey.png" width="100%" height="auto" position: "relative; z-index: 1;" />
                <div id="icon_link">
                  <p>Request Monkey</p>
                  <%= link_to :new_request do %>
                  <a href="<%= new_request_path %>" class="hp fa fa-plus" title="New Request"></a>
                  <% end %>
                </div>
              </div>
            
          </li>

          <% @requests.each do |request| %>
          <li class="large-4 columns small-12 columns">
            <div id="idx_square">
              <% if !request.before_photo_url_url.nil? %>
                <%= link_to image_tag(request.before_photo_url_url(:thumb)).html_safe, request_path(request.id) %>
              <% else %>
                <%= link_to image_tag("SMAC_nation.jpg"), request_path(request.id) %>
              <% end %>
            </div>
          </li>
          <% end %>
          
          <% @filler.each do |filler| %>
            <li class="large-4 columns small-12 columns">
              <div id="idx_square">
                <% if !filler.after_photo_url_url.nil? %>\
                  <%= link_to image_tag(filler.after_photo_url_url(:thumb)).html_safe, request_path(filler.id) %>
                <% elsif !filler.before_photo_url_url.nil?   %>
                  <%= link_to image_tag(filler.before_photo_url_url(:thumb)).html_safe, request_path(filler.id) %>
                <% else %>
                  <%= link_to image_tag("sockmonkeys.jpg"), request_path(filler.id) %>
                <% end %>
                <%= link_to image_tag("matched-ribbon.png", class: "ribbon").html_safe, request_path(filler.id) %>
              </div>
            </li>
          <% end %>
          
          <% @fallback.times do |x| %>
            <li class="large-4 columns small-12 columns">
              <div id="idx_square">
                <%= image_tag("landing_page/#{x+1}.jpg") %>
                <%= image_tag("matched-ribbon.png", class: "ribbon") %>
              </div>
            </li>
          <% end %>
        </ul>    
      </div>
    </div>
    
</section>        
    
<section>
    
    <div class="options">
      <div class="row">
        <div id="opt1" class="large-4 columns">
          <div class="opt_icon center">
            <a href="<%= requests_path %>" class="fa fa-gift" title="Give"></a>
          </div>
          <div class="opt_text center">
            <h2>Give</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        
        
        <div id="opt2" class="large-4 columns">
          <div class="opt_icon center">
            <a href="<%= new_request_path %>" class="fa fa-heart" title="Give"></a>
          </div>
          <div class="opt_text center">
            <h2>Nominate</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
          </div>
        </div>
        
        <div id="opt3" class="large-4 columns">
          <div class="opt_icon center">
            <a href="<%= new_request_path %>" class="fa fa-bullhorn" title="Give"></a>
          </div>
          <div class="opt_text center">
            <h2>Request</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis.</p>
          </div>
        </div>
      </div>
    </div>
    
</section>     
    
<section id="screen1" data-speed="6" data-type="background">   
    
    <div class="row full-width"></div>
      <div id="q_bkgrd">
        <div id="quotes" class="center">
            <div id="q_icons">
              <a href="#" class="qleft_icon"></a> <a href="#" class="qright_icon"></a>
            </div>
            <div id="q_text" class="center-text">
            I look into their little eyes (NoMo & Phoenix) and they just make my heart melt... even on my darkest days.
            </div>
            <div id="quoter">
            - Leslie Lehrman
            </div> 
        </div>
      </div>
    </div>
    
</section>
    
<section>    
    
    <div class="features">
      <div class="row featurette">
        <div class="large-7 columns">
          <h2 class="feature-heading-left"><span class="text-muted">Be an Angel! Give a sock monkey.</span></h2>
          <p class="feature-text-left">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <a href="<%= requests_path %>"><div id="f_img1" class="large-5 columns">
          <!-- <%= link_to "Give", requests_path %> -->
          <!-- Background image is in css style -->
        </div></a>
      </div>

      <div class="feature-divider"></div>

      <div class="row featurette">
        <a href="<%= new_request_path %>"><div id="f_img2" class="large-5 columns">
          <!-- Background image is in css style -->
        </div></a>
        <div class="large-7 columns">
          <h2 class="feature-heading-right"><span class="text-muted">Nominate someone you know.</span></h2>
          <p class="feature-text-right">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <div class="feature-divider"></div>

      <div class="row featurette">
        <div class="large-7 columns">
          <h2 class="feature-heading-left"><span class="text-muted">Do you want a sock monkey?</span></h2>
          <p class="feature-text-left">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <a href="<%= new_request_path %>"><div id="f_img3" class="large-5 columns">
          <!-- Background image is in css style -->
        </div></a>
      </div>

    </div>

</section>
    
</body>
