<body>
  
<section id="screen1">
   
  <%= render :partial => 'layouts/nav' %>
  
  <div id="controller_home">
    <div class="row">
      <div class"large-12 columns">
        <div id="hp_logo">
         <!-- <img src="assets/sockmonkey2.png" alt="" /> -->
        </div>
      </div>
  
      <div class="name center">
        SMAC! Angels
      </div>

      <div class="separator"></div>

      <div class="tagline center">
        True "creature comforts" for those with cancer
      </div>
      
      <!-- Hidden until breakpoint -->
      <div id="resp_monkey">
        <%= image_tag "sockmonkey2.png" %>
      <div>
      
    </div>
  </div>

</section>

<section id="screen2">  
    
    <div class="row full-width"></div>
      <div class="gallery">
        <ul>
          <li class="large-4 columns small-12 columns">
            <div id="idx_square">
              <%= link_to image_tag("Request_Monkey.png"), new_request_path %>
            </div>
          </li>

          <% @requests.each do |request| %>
          <li class="large-4 columns small-12 columns">
            <div id="idx_square">
              <% if !request.before_photo_url_url.nil? %>
                <%= link_to image_tag(request.before_photo_url_url(:thumb)).html_safe, request_path(request.id) %>
              <% else %>
                <%= link_to image_tag("SMAC_nation.jpg"), request_path(request.id) %>
              <% end %>
            </div>
          </li>
          <% end %>
          
          <% @filler.each do |filler| %>
            <li class="large-4 columns small-12 columns">
              <div id="idx_square">
                <% if !filler.after_photo_url_url.nil? %>\
                  <%= link_to image_tag(filler.after_photo_url_url(:thumb)).html_safe, request_path(filler.id) %>
                <% elsif !filler.before_photo_url_url.nil?   %>
                  <%= link_to image_tag(filler.before_photo_url_url(:thumb)).html_safe, request_path(filler.id) %>
                <% else %>
                  <%= link_to image_tag("sockmonkeys.jpg"), request_path(filler.id) %>
                <% end %>
                <%= link_to image_tag("matched-ribbon.png", class: "ribbon").html_safe, request_path(filler.id) %>
              </div>
            </li>
          <% end %>
          
          <% @fallback.times do |x| %>
            <li class="large-4 columns small-12 columns">
              <div id="idx_square">
                <%= image_tag("landing_page/#{x+1}.jpg") %>
                <%= image_tag("matched-ribbon.png", class: "ribbon") %>
              </div>
            </li>
          <% end %>
        </ul>    
      </div>
    </div>
    
</section>        
    
<section id="screen3">
    
    <div class="options">
      <div class="row">
        <div id="opt1" class="large-4 columns">
          <div class="opt_icon center">
            <a href="<%= requests_path %>" class="fa fa-gift" title="Give"></a>
          </div>
          <div class="opt_text center">
            <h2>Give</h2>
            <p>Become an angel for someone in need. Agree to cover the cost for either Phoenix or NoMo to remind everyone that they aren't in this fight alone.</p>
          </div>
        </div>
        
        
        <div id="opt2" class="large-4 columns">
          <div class="opt_icon center">
            <a href="<%= new_request_path %>" class="fa fa-heart" title="Give"></a>
          </div>
          <div class="opt_text center">
            <h2>Nominate</h2>
            <p>Know someone impacted by cancer? Nominate them to recieve a SMAC! monkey.</p>
          </div>
        </div>
        
        <div id="opt3" class="large-4 columns">
          <div class="opt_icon center">
            <a href="<%= new_request_path %>" class="fa fa-bullhorn" title="Give"></a>
          </div>
          <div class="opt_text center">
            <h2>Request</h2>
            <p>Are you going through treatments? Want something personal to keep by your side? Request a sock monkey for yourself!</p>
          </div>
        </div>
      </div>
    </div>
    
</section>     
    
<section id="screen4" data-speed="6" data-type="background">   
    
    <div class="row full-width"></div>
      <div id="q_bkgrd">
        <div id="quotes" class="center">
            <div id="q_icons">
              <a href="#" class="qleft_icon"></a> <a href="#" class="qright_icon"></a>
            </div>
            <div id="q_text" class="center-text">
            I look into their little eyes (NoMo & Phoenix) and they just make my heart melt... even on my darkest days.
            </div>
            <div id="quoter">
            - Leslie Lehrman
            </div> 
        </div>
      </div>
    </div>
    
</section>
    
<section id="screen5" data-speed="6" data-type="background">    
    
    <div class="features">
      <div class="row featurette">
        <div class="large-7 columns">
          <h2 class="feature-heading-left"><span class="text-muted">Be an Angel! Give a sock monkey.</span></h2>
          <p class="feature-text-left">Become an angel for someone in need. Agree to cover the cost for either Phoenix or NoMo to remind everyone that they aren't in this fight alone.</p>
        </div>
        <a href="<%= requests_path %>"><div id="f_img1" class="large-5 columns">
          <!-- <%= link_to "Give", requests_path %> -->
          <!-- Background image is in css style -->
        </div></a>
      </div>

      <div class="feature-divider"></div>

      <div class="row featurette">
        <a href="<%= new_request_path %>"><div id="f_img2" class="large-5 columns">
          <!-- Background image is in css style -->
        </div></a>
        <div class="large-7 columns">
          <h2 class="feature-heading-right"><span class="text-muted">Nominate someone you know.</span></h2>
          <p class="feature-text-right">Know someone impacted by cancer? Nominate them to recieve a SMAC! monkey. Once we match them up with an angel, they'll recieve their own sock monkey to keep with them during those rough days.</p>
        </div>
      </div>

      <div class="feature-divider"></div>

      <div class="row featurette">
        <div class="large-7 columns">
          <h2 class="feature-heading-left"><span class="text-muted">Do you want a sock monkey?</span></h2>
          <p class="feature-text-left">Are you going through treatments? Want something personal to keep by your side? Can't afford a SMAC! monkey? Request a sock monkey for yourself! Once we match you up with an angel, you'll recieve your very own sock monkey!</p>
        </div>
        <a href="<%= new_request_path %>"><div id="f_img3" class="large-5 columns">
          <!-- Background image is in css style -->
        </div></a>
      </div>

    </div>

</section>
    
</body>
