<%= form_for @request do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:" %>
      </h2>
      <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :requestor_id %>
    <%= f.number_field :requestor_id %>
  </div>
  <div class="field">
    <%= f.label :angel_id %>
    <%= f.number_field :angel_id %>
  </div>
  <div class="field">
    <%= f.label :obo %>
    <%= f.check_box :obo %>
  </div>
  <div class="field">
    <%= f.label :anon_req %>
    <%= f.check_box :anon_req %>
  </div>
  <div class="field">
    <%= f.label :anon_angel %>
    <%= f.check_box :anon_angel %>
  </div>
  <div class="field">
    <%= f.label :ship_address %>
    <%= f.text_field :ship_address %>
  </div>
  <div class="field">
    <%= f.label :ship_city %>
    <%= f.text_field :ship_city %>
  </div>
  <div class="field">
    <%= f.label :ship_state %>
    <%= f.text_field :ship_state %>
  </div>
  <div class="field">
    <%= f.label :ship_zipcode %>
    <%= f.text_field :ship_zipcode %>
  </div>
  <div class="field">
    <%= f.label :story %>
    <%= f.text_area :story %>
  </div>
  <div class="field">
    <%= f.label :external_url %>
    <%= f.text_field :external_url %>
  </div>
  <div class="field">
    <%= f.label :before_photo_url %>
    <%= f.text_field :before_photo_url %>
  </div>
  <div class="field">
    <%= f.label :after_photo_url %>
    <%= f.text_field :after_photo_url %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
