<%= form_for @request, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :requestor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :requestor_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :angel_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :angel_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sockmonkey_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :sockmonkey_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :obo, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :obo, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :anon_req, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :anon_req, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :anon_angel, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :anon_angel, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ship_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ship_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ship_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ship_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ship_state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ship_state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ship_zipcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ship_zipcode, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :story, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :story, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :external_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :external_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :before_photo_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :before_photo_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :after_photo_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :after_photo_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                requests_path, :class => 'btn' %>
  </div>
<% end %>
