    
<script src="//http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<div id="iframe" class="row collapse">
  <div id="iframe_requests">
    <div id="request_image" class="small-12 medium-6 large-6 columns">
      <% @requests.each do |req| %>
        <div id="iframe-image" class="img-req" data-story="<%= edit_story(req.story) %>">
          <%= link_to "#{image_tag(req.before_photo_url_url(:thumb), :class => "rimage")}".html_safe, request_path(:id => req.id) %>
        </div>
      <% end %>
      
      <% @filler.each do |req| %>
        <div id="iframe-image" class="img-req" data-story="<%= edit_story(req.story) %>">
          <% if req.after_photo_url_url %>
            <%= link_to "#{image_tag(req.after_photo_url_url(:thumb), :class => "rimage")}".html_safe, request_path(:id => req.id) %>
            
          <% else %>
            <%= link_to "#{image_tag(req.before_photo_url_url(:thumb), :class => "rimage")}".html_safe, request_path(:id => req.id) %>
          <% end %>
        <%= link_to image_tag("matched-ribbon.png", class: "ribbon").html_safe, request_path(req.id) %>
        </div>
      <% end %>
      
      <% @fallback.times do |x| %>
        <div id="iframe-image">
          <%= image_tag("landing_page/#{x+1}.jpg") %>
          <%= image_tag("matched-ribbon.png", class: "ribbon") %>
      </div>
      <% end %>
    </div>
  </div>

  <div id = "logo_story" class="small-12 medium-6 large-6 columns">
    <div id="iframe_slogan">
       <h3>Join the SMAC<img src="/assets/favicon2_large.png"> Angel Program</h3>
    </div>  

    <div id="story" class="smooth">
       <h2>It is a great feeling to be able to comfort someone in need. Please view the stories of those battling cancer who would like some creature comfort by scrolling over their name. Clicking a picture will take you to their profile.</h2>
    </div>
  </div>
</div >
<!-- 987x350   -->