%h1 Listing requests

%table
  %tr
    %th Requester
    %th Angel
    %th Obo
    %th Anon req
    %th Anon angel
    %th Ship address
    %th Ship city
    %th Ship state
    %th Ship zipcode
    %th Story
    %th External url
    %th Before photo url
    %th After photo url
    %th
    %th
    %th

  - @requests.each do |request|
    %tr
      %td= request.requester_id
      %td= request.angel_id
      %td= request.obo
      %td= request.anon_req
      %td= request.anon_angel
      %td= request.ship_address
      %td= request.ship_city
      %td= request.ship_state
      %td= request.ship_zipcode
      %td= request.story
      %td= request.external_url
      %td= request.before_photo_url
      %td= request.after_photo_url
      %td= link_to 'Show', request
      %td= link_to 'Edit', edit_request_path(request)
      %td= link_to 'Destroy', request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Request', new_request_path
