  <div id="controller_<%= params[:controller] %>" class="banner">
    
    <div class="row">  
      <span class="large-2 large-centered columns">
        <div class="center-banner">
        <div class="requests-text-banner">
          Short message on how to become an Angel.
        </div>
  
        <div class="separator-banner large-9 large-centered small-centered columns"></div>
  
        <div class="tagline-banner">
          Check out our requests below!
        </div>
        </div>
      </span>
     </div> 
   </div>
   
<div class="row content-padding">

  <h2>Select a lucky recipient.</h2>

  <div class="requests clear">

    <% if @requests %>

      <%= link_to :new_request do %>
        <div class="add_request left">
          <p>Request Monkey</p>
          <a href="<%= new_request_path %>" class="fa fa-plus" title="New Request"></a>
        </div>
      <% end %>

      <% @requests.each do |request| %>
    
        <div class="request">
          <%= link_to image_tag(request.before_photo_url_url(:thumb)).html_safe, request_path(request.id), :class => 'left' %>
        </div>
        
      <% end %>
    <% else %>
      <h2>There are no requests at this time.  You still can become an Angel for the next Sock Monkey requestor!</h2>
      <p><%= link_to "Become Angel", "http://smacmonkey.com" %></p>
    <% end %>
  </div>
  <%= button_to "Show More", nil, :method => "get", :class => "ctr_button" %>
</div>