<div id="controller_requests" class="requests-show-banner">
  <div class="row">
    <!-- placeholder for @request.requestor.fname -->
    <div class="large-4 large-centered small-6 small-centered columns">
      <div class="avatar-banner">
        <%= image_tag("avatar.png", :alt => "user avatar") %>
      </div>
    </div>
  </div>
  
  <div class="row">  
    <span class="large-2 large-centered columns">
      <div class="center-banner">
      <div class="name-banner">
        Sarah is asking for Nomo
      </div>

      <div class="separator-banner large-9 large-centered small-centered columns"></div>

      <div class="tagline-banner">
        Can you help?
      </div>
      </div>
    </span>
   </div> 
 </div>

<% if @request.angel_id %>
  <div class="row full-width-requests center-text">
    <div class="large-3 small-6 private-box columns">  
        <b>Street</b><br>
        <%= @request.ship_address %>
    </div>

    <div class="large-3 small-6 private-box columns">    
        <b>City</b><br>
        <%= @request.ship_city %>
    </div>

    <div class="large-3 small-6 private-box columns">
        <b>State</b><br>
        <%= @request.ship_state %>
    </div>

    <div class="large-3 small-6 private-box columns">
        <b>Zipcode</b><br>
        <%= @request.ship_zipcode %>
    </div>
  </div>
<% end %>

<div class="row center-text content-padding">
      
  <p id="notice">
    <%= notice %>
  </p>

  <div class="large-9 large-centered columns">
    <% if @request.before_photo_url != nil %>
      <%= image_tag(@request.before_photo_url) %>
    <% else %>
      <%= image_tag("profile.png") %>
    <% end %>
    <p>
      <!-- hardcoded name -->
      <h2>Sarah's Story</h2>
      <br>
      <span class="storytime"><%= @request.story %></span>
    </p>
    <br>
    <br>
    <p>
      <h2>Website</h2>
      <span class="storytime"><%= @request.external_url %></span>
    </p>
  </div>
</div>

<div class="row content-small-padding">
  <div class="large-6 small-3 large-centered small-centered center-text columns">
    <%# if !@request.angel_id %>
      <%= form_tag(become_angel_path) do %>
        <%= hidden_field_tag 'request_id', @request.id %>
        <div class="field">
          <%= label_tag "Anonymous Angel?" %>
          <%= check_box_tag 'anonymous' %>
        </div>
        <div>
          <%= submit_tag "Become Angel" %>
        </div>
      <% end %>
    <%# end %>
  </div>
</div>

<div class="row center-text content-small-padding">
  <div class="fb-comments" data-href="http://smac-angels-staging.herokuapp.com/requests/<%=@request.id%>" data-width="670" data-num-posts="10"></div>
  </div>
</div>

<div class="row content-small-padding center-text">
  <div id="share-buttons">
    <!-- Share on facebook -->
    <div class="fb-share-button" data-href="http://smac-angels-staging.herokuapp.com/requests/#{@request.id}" data-type="button"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- Share on twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>


    <!-- Share on pinterest if there is an image to share -->
    <a href      = "//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
    <!-- Please call pinit.js only once per page -->
    <script type = "text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
  

</div>

<div class="row content-padding center-text">
  <%= link_to ' EDIT ', edit_request_path(@request), :class => "button-link" %> &nbsp;
  <%= link_to 'BACK', requests_path, :class => "button-link" %>
</div>