<div id="controller_requests" class="requests-show-banner">
  <div class="row">
    <!-- placeholder for @request.requestor.fname -->
    <div class="large-4 large-centered small-12 small-centered columns">
      <div class="avatar-banner">
        <%= render_avatar(@request) %>
      </div>
    </div>
  </div>

  <div class="row">
    <span class="large-2 large-centered columns">
      <div class="center-banner">
      <div class="name-banner">
        <%= @request.obo ? @request.obo_fname : @request.requestor.fname %> <%= @request.current_status > 0 ? "was" : "is" %> asking for <%= @request.sockmonkey.name %>
      </div>

      <div class="separator-banner large-9 large-centered small-centered columns"></div>

      <div class="tagline-banner">
        <%= @tag %>
      </div>

      <% if current_user && (@request.requestor_id == @user_id || is_admin?) %>
        <div class="row content-small-padding center-text edit-buttons">
          <%= link_to 'Edit', edit_request_path(@request), :class => "button-link", :title => "Edit this request" %> &nbsp;
          <%= link_to 'Delete', request_path(@request), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "button-link btn-danger" %>
        </div>
      <% end %>

      </div>
    </span>
   </div>
 </div>
<% if current_user && (is_admin? || current_user.id == @request.requestor_id || current_user.id == @request.angel_id) %>
  <div class="row full-width-requests center-text">

    <div class="large-2 small-0 private-box columns mobile-hide">
    </div>

    <div class="large-2 small-6 private-box columns">
        <b>Street</b><br>
        <%= @request.ship_address %>
    </div>

    <div class="large-2 small-6 private-box columns">
        <b>City</b><br>
        <%= @request.ship_city %>
    </div>

    <div class="large-2 small-6 private-box columns">
        <b>State</b><br>
        <%= @request.ship_state %>
    </div>

    <div class="large-2 small-6 private-box columns">
        <b>Zipcode</b><br>
        <%= @request.ship_zipcode %>
>>>>>>> master
    </div>

    <div class="large-2 small-0 private-box columns mobile-hide">
    </div>

  </div>
<% end %>

<% if is_admin? %>
  <div class="row full-width-admin center-text">
    <div class="large-1 small-0 admin-box mobile-hide columns"></div>

    <%= link_to("/emails/new?request_id=#{@request.id}&to_id=#{@request.requestor_id}") do %>
      <div class="large-2 small-6 admin-box columns">
        email requestor
      </div>
    <% end %>

    <% if !@request.angel_id.nil? %>
      <%= link_to("/emails/new?request_id=#{@request.id}&to_id=#{@request.angel_id}") do %>
        <div class="large-2 small-6 admin-box columns">
          email angel
        </div>
      <% end %>
    <% else %>
      <div class="large-2 small-6 admin-box columns">
        <span class="unavailable_option">email angel</span>
      </div>
    <% end %>

    <% if @request.current_status < 10 %>
      <% if @request.angel_id.nil? %>
        <%= link_to(request_match_path(@request.id)) do %>
          <div class="large-2 small-6 admin-box columns">
            match an angel
          </div>
        <% end %>
      <% else %>
        <%= link_to(request_unmatch_path(@request.id)) do %>
          <div class="large-2 small-6 admin-box columns">
            unmatch angel
          </div>
        <% end %>
      <% end %>

      <%= link_to(request_path(@request.id), :method => :delete) do %>
        <div class="large-2 small-6 admin-box columns">
          delete request
        </div>
      <% end %>

      <%= link_to(request_ship_path(@request.id)) do %>
        <div class="large-2 small-12 admin-box columns">
          mark shipped
        </div>
      <% end %>
    <% else %>
      <div class="large-2 small-6 admin-box columns">
        <span class="unavailable_option">unmatch angel</span>
      </div>
      <div class="large-2 small-6 admin-box columns">
        <span class="unavailable_option">delete request</span>
      </div>
      <div class="large-2 small-6 admin-box columns">
        <span class="unavailable_option">mark shipped</span>
      </div>
    <% end %>

    <div class="large-1 small-0 admin-box mobile-hide columns"></div>

  </div>
<% end %>

<!-- send email to requestor, send email to angel, unmatch, match angel, delete request -->

<div class="row content-padding center-text">

  <p id="notice">
    <%= notice %>
  </p>

  <div class="large-9 large-centered columns">

    <div>
    </div>
    <% if is_admin? %>
      <p>
        <h2>Status</h2>
        <br>
        <span class="storytime"><%= @status %></span>
      </p>
      <br>
      <br>
    <% end %>
    <p>
      <h2><%= @request.obo ? @request.obo_fname : @request.requestor.fname %>'s Story</h2>
      <br>
      <span class="storytime"><%= @request.story %></span>
    </p>
    <br>
    <br>
    <p>
      <h2>Website</h2>
      <span class="storytime"><%= @request.external_url || "No website provided" %></span>
    </p>
    <br>
    <br>
    <p>
      <% if @request.angel_id %>
        <h2>Angel Name</h2>
        <span class="storytime"><%= @request.anon_angel ? "The angel has chosen to remain anonymous" : @request.angel.shortname %></span>
      <% end %>
    </p>
  </div>
  <br>
  <br>
  <% if is_admin? %>
    <h2 class="content-small-padding">Status Log</h2>
    <table class="status_log">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @request.statuses.each do |status| %>
          <tr class="status">
            <td><%= status.status %></td>
            <td><%= status.created_at.strftime("%b %d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <br>

    <h2 class="content-small-padding">Email Log</h2>
    <table class="email_log">
      <thead>
        <tr>
          <th>To</th>
          <th>Subject</th>
          <th>Body</th>
          <th>Date Sent</th>
        </tr>
      </thead>
      <tbody>
        <% @emails.each do |email| %>
          <tr class="email">
            <td><%= email.to_addresses %></td>
            <td><%= email.subject %></td>
            <td><%= link_to "#{email.content[0..40]}...", email_path(email.id) %></td>
            <td><%= email.created_at.strftime("%b %d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="row">
  <div class="large-7 small-3 large-centered small-centered center-text columns">
    <% if !@request.angel_id %>
      <%= form_tag(become_angel_path) do %>
        <%= hidden_field_tag 'request_id', @request.id %>
        <div class="row center-text">
          <%= submit_tag "BECOME ANGEL", :class => "submit-button" %>
          <%= submit_tag "ANONYMOUS ANGEL", :class => "submit-button", :name => "anon_button" %>
        </div>

      <% end %>
    <% end %>
  </div>
</div>


<div class="row fb-comments">

  <div class="large-12 small-12 center-text columns">
    <div id="share-buttons">
      <!-- Share on facebook -->
      <div class="fb-share-button" data-href="http://smac-angels-staging.herokuapp.com/requests/#{@request.id}" data-type="button"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <!-- Share on twitter -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>


      <!-- Share on pinterest if there is an image to share -->
      <a href      = "//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
      <!-- Please call pinit.js only once per page -->
      <script type = "text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
  </div>

          <div class="fb-comments large-12 small-12 columns" data-href="http://smac-angels-staging.herokuapp.com/requests/<%=@request.id%>"  data-num-posts="10"></div>

</div>
