<div id="controller_requests" class="requests-show-banner">
  <div class="row">
    <!-- placeholder for @request.requestor.fname -->
    <div class="large-4 large-centered small-6 small-centered columns">
      <div class="avatar-banner">
        <%= image_tag("avatar.png", :alt => "user avatar") %>
      </div>
    </div>
  </div>
  
  <div class="row">  
    <span class="large-2 large-centered columns">
      <div class="center-banner">
      <div class="name-banner">
        Sarah is asking for Nomo
      </div>

      <div class="separator-banner large-9 large-centered small-centered columns"></div>

      <div class="tagline-banner">
        Can you help?
      </div>
      </div>
    </span>
   </div> 
 </div>

<div class="row">
  <p id="notice">
    <%= notice %>
  </p>

  <div class="large-9 columns">
    <%= image_tag(@request.before_photo_url) %>
    
    <p>
      <!-- hardcoded name -->
      <h2>Sarah's Story:</h2>
      <%= @request.story %>
    </p>
    
    <p>
      <h2>External Link:</h2>
      <%= @request.external_url %>
    </p>
  
    <br />    
    <br />
    
    <div id="share-buttons">
      <!-- Share on facebook -->
      <div class="fb-share-button" data-href="http://smac-angels-staging.herokuapp.com/requests/#{@request.id}" data-type="button"></div>
  
      <!-- Share on twitter -->
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
  

      <!-- Share on pinterest if there is an image to share -->
      <a href      = "//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
      <!-- Please call pinit.js only once per page -->
      <script type = "text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
    
    <div class="fb-comments" data-href="http://smac-angels-staging.herokuapp.com/requests/<%=@request.id%>" data-width="470" data-num-posts="10"></div>
    
    <%= link_to 'Edit', edit_request_path(@request) %> |
    <%= link_to 'Back', requests_path %>
        
    <br />
    <br />    
  </div>
</div>


  <div class="large-3 columns">
    <% if @request.angel_id %>
      <p>
        <p>
          <b>Street:</b><br>
          <%= @request.ship_address %>
        </p>
        <p>
          <b>City:</b><br>
          <%= @request.ship_city %>
        </p>
        <p>
          <b>State:</b><br>
          <%= @request.ship_state %>
        </p>
        <p>
          <b>Zipcode:</b><br>
          <%= @request.ship_zipcode %>
        </p>
      </p>
    <% else %>
      <%= form_tag(become_angel_path) do %>
        <%= @request.id %>
        <%= current_user.class %>
        <%= hidden_field_tag 'request_id', @request.id %>
        <div class="field">
          <%= label_tag "Anonymous Angel?" %>
          <%= check_box_tag 'anonymous' %>
        </div>
        <div>
          <%= submit_tag "Become Angel" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>