%p#notice= notice

%p
  %b Requester:
  = @request.requester_id
%p
  %b Angel:
  = @request.angel_id
%p
  %b Obo:
  = @request.obo
%p
  %b Anon req:
  = @request.anon_req
%p
  %b Anon angel:
  = @request.anon_angel
%p
  %b Ship address:
  = @request.ship_address
%p
  %b Ship city:
  = @request.ship_city
%p
  %b Ship state:
  = @request.ship_state
%p
  %b Ship zipcode:
  = @request.ship_zipcode
%p
  %b Story:
  = @request.story
%p
  %b External url:
  = @request.external_url
%p
  %b Before photo url:
  = @request.before_photo_url
%p
  %b After photo url:
  = @request.after_photo_url

= link_to 'Edit', edit_request_path(@request)
\|
= link_to 'Back', requests_path
