

<%- model_class = Request -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:requestor_id) %>:</strong></dt>
  <dd><%= @request.requestor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:angel_id) %>:</strong></dt>
  <dd><%= @request.angel_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sockmonkey_id) %>:</strong></dt>
  <dd><%= @request.sockmonkey_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:obo) %>:</strong></dt>
  <dd><%= @request.obo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anon_req) %>:</strong></dt>
  <dd><%= @request.anon_req %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anon_angel) %>:</strong></dt>
  <dd><%= @request.anon_angel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ship_address) %>:</strong></dt>
  <dd><%= @request.ship_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ship_city) %>:</strong></dt>
  <dd><%= @request.ship_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ship_state) %>:</strong></dt>
  <dd><%= @request.ship_state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ship_zipcode) %>:</strong></dt>
  <dd><%= @request.ship_zipcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:story) %>:</strong></dt>
  <dd><%= @request.story %></dd>
  <dt><strong><%= model_class.human_attribute_name(:external_url) %>:</strong></dt>
  <dd><%= @request.external_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:before_photo_url) %>:</strong></dt>
  <dd><%= @request.before_photo_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:after_photo_url) %>:</strong></dt>
  <dd><%= @request.after_photo_url %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              requests_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_request_path(@request), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              request_path(@request),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
