<%= form_for @email, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :request_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :request_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :body, rows: 10, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :template_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :template_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_addresses, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_addresses, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                emails_path, :class => 'btn' %>
  </div>
<% end %>
