<div class="row center-text blue">
  <h1>Email Log</h1>
  
  <%= render :partial => 'admin/adminnav' %>
</div>
  
<table class="table table-striped center">
  <thead>
    <th>ID</th>
    <th>Request</th>
    <th>To</th>
    <th>Content</th>
    <th>Sent</th>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td class="content-right-padding"><h1><%= link_to email.id, email_path(email) %></h1></td>
        <td class="content-right-padding"><%= email.request.requestor.shortname if email.request.requestor %></td>
        <td class="content-right-padding"><%= email.to_addresses %></td>
        <td class="content-right-padding"><%= email.content[0..40] %>...</td>
        <td class="content-right-padding"><%= email.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
