%h1 Listing emails

%table
  %tr
    %th Request
    %th Content
    %th Template
    %th To addresses
    %th
    %th
    %th

  - @emails.each do |email|
    %tr
      %td= email.request_id
      %td= email.content
      %td= email.template_id
      %td= email.to_addresses
      %td= link_to 'Show', email
      %td= link_to 'Edit', edit_email_path(email)
      %td= link_to 'Destroy', email, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Email', new_email_path
