%p#notice= notice

%p
  %b Request:
  = @email.request_id
%p
  %b Content:
  = @email.content
%p
  %b Template:
  = @email.template_id
%p
  %b To addresses:
  = @email.to_addresses

= link_to 'Edit', edit_email_path(@email)
\|
= link_to 'Back', emails_path
