<%- model_class = Email -%>
<div class="row center-text blue">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> Details</h1>
  
  <%= render :partial => 'admin/adminnav' %>
  
  <div id="email_detail">
    <h2>To Addresses</h2>
    <p><%= @email.request.angel.shortname %> ( <%= @email.to_addresses %> )</p>
  
    <h2>Request</h2>
    <p><%= link_to @email.request.requestor.shortname, @email.request %></p>
  
    <h2>Content</h2>
    <p><%= @email.content %></p>
  
    <h2>Sent</h2>
    <p><%= @email.created_at %></p>
  </div>
  
  <div class="form-actions left">
    <%= link_to "Back", emails_path %>
  </div>
</div>