<div class="logo_top">
    <%= link_to image_tag("/assets/SMAC_logo.png"), root_path %>
</div>

<ul> 
  <li><%= link_to "Home", root_path %></li> 
  <li><%= link_to "Give", requests_path %></li>  
  <li><%= link_to "Nominate", new_request_path(:nominate => true) %></li>
  <li><%= link_to "Request", new_request_path %></li>
  <% if !current_user %>
  <li><%= link_to "Sign Up", signup_path %></li> 
  <% else %> 
  <% end %>
  <% if current_user %>
    <li><%= link_to "Profile", user_path(current_user.id) %></li>
    <% if is_admin? %>
      <li><%= link_to "Admin", :admin %></li>
    <% end %>
    <li><%= link_to "Log Out", logout_path %></li>  
  <% else %>
    <li><%= link_to "Log In", login_path %></li>
  <% end %>
</ul>  