<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SmacAngel" %></title>
    <%= csrf_meta_tags %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=504323752911178";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body id="controller_<%= params[:controller] %>">

    <div id="top-bar" >
      <!-- Left Nav Section -->
      <div class="top-left">
        <%= link_to "SMAC Angels", root_path, :class => "brand" %>
      </div>

      <div class="top-right">
        <ul>
          <li><%= link_to "Give", requests_path %></li>
          <li><%= link_to "Nominate", new_request_path %></li>
          <li><%= link_to "Request", new_request_path %></li>
          <% if current_user %>
          <%= link_to current_user.email, user_path(current_user.id) %>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div id="controller_<%= params[:controller] %>">
      <div class="row">
        <%= yield :banner %>
      </div>
    </div>
    
    <div>
      <%= yield %>
    </div>

  <div class="footer" role="navigation">
    <div class="row">
          <br />
          <br />
          <p>&copy; 2014 SMAC Angels, Inc.</p>
          <p><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          <br />
            <a href="http://omahacodeschool.com" target="_blank"><img src="https://s3.amazonaws.com/WorkHang/OCSlogo" alt="omaha code school" width=40></a>
    </div>
  </div>

</html>
